<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/clicker.css"/>
    <title>Login</title>
</head>
<body>
    <div class="info">
            <a href="http://localhost:3000/"><button>Home</button></a>
            <a href="http://localhost:3000/login_and_register.html"><button>Login and register</button></a>
            <form action="acount"><button>Acount</button></form>
            <form action="pokalSite"><button>Pokaler</button></form>
            <form action="logout"><button>Log out</button></form>
    </div>

<div class="Acount">
    <div class="Acount_info">
    <h1>Acount info</h1>
    <div id="name1">
        <p>Username: {{User.name}}</p>
        <p>User id: {{User.id}}</p>
    </div>
    <div id="name2">    
     <form action="/nameUpdate" method="post">
            <label>New username:</label><input type="text" name="name"><br>
            <button>Update username</button>
    </form>
    </div>
    <p>Password(hashed): {{User.password}}</p>
    <p><a href="/delete?id={{User.id}}">Press here to delete user</a></p>
   
    <br>
    
    <form action="pokal">
    <label>Velg deg en pokal:</label>
    <select name="pokal" id="pokal">
            <option value="1">Bronce</option>
            <option value="2">Silver</option>
            <option value="4">Gold</option>
            <option value="5">Plat</option>
            <option value="3">Diamond</option>
    </select>

        <button>Select</button>
    </form><br>
</div>


   <div class="din_pokal">
    <h2>Dine pokaler:</h2>
    <div>
    {{#each dinPokal}}
        <p>{{this.type}}</p>
    {{/each}}
    </div>
</div>
</div>
</body>
</html>